.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85vw;
    max-width: 1150px;
    margin: auto;
}

@media screen and (max-width: 1024px){
    .footer{
        width: 90vw;
    }
}

@media screen and (max-width: 767px){
    .footer{
        width: 88vw;
        flex-direction: column;
    }
}